@page "/addlanguage"
@model SportHub.Pages.Localization.AddLanguageModel
@{
}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/css/AddLanguage.css" asp-append-version="true" />

</head>

<body>
      <div class="form-group">
        <div class="myMultiselectLable">Add language</div>
        <div id="myMultiselect" class="multiselect">
          
          <div id="mySelectLabel" class="selectBox" onclick="toggleCheckboxArea()">
            <select class="form-select">
              <option>somevalue</option>
            </select>
            <div class="overSelect"></div>
          </div>
          <div id="mySelectOptions">
             @foreach(var language in Model.LanguageList)
             {
                    <label for="@language.LanguageName">
                        @language.LanguageName
                        <input type="checkbox" class="checkboxstyle" id="@language.LanguageName" onchange="checkboxStatusChange()" value="@language.LanguageName" checked="@language.IsEnabled" />
                    </label>
             }
          </div>
        </div>
        <form asp-page-handler="add" method="post">
            <button class="addbutton">
                <div class="addbuttontext">Add</div>
            </button>
        </form>

        <button class="cancelbutton">
            <div class="cencelbuttontext">Cencel</div>
        </button>

      </div>

    <script src="~/js/AddLanguage.js" asp-append-version="true"></script>
</body>

</html>