<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportHub</title>
    <link rel="stylesheet" href="" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_UserSideLayout.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-logo">
                    <div style="margin-top: 26px">
                        <a class="logo-caption" asp-page="/Index">SportHub</a>
                    </div>
                </div>
                <div class="search-box">
                    <form style="display: flex; margin: auto;">
                        <button id="search-button"><img src="~/icons/search-icon.png" class="header-icons" alt="Search!"/></button>
                        <input type="search" id="header-search-field" class="lable" placeholder="Search..."/>
                    </form>
                </div>

                <div class="social-media-box">
                    <div class="icon-keeper">
                        <a class="caption" href="@Url.ActionLink("#")">Share...</a>
                        <a href="@Url.ActionLink("#")"><img src="~/icons/facebook-logo.png" class="header-icons" alt="Facebook" /></a>
                        <a href="@Url.ActionLink("#")"><img src="~/icons/google-logo.png" class="header-icons" alt="Google+" /></a>
                        <a href="@Url.ActionLink("#")"><img src="~/icons/twitter-logo.png" class="header-icons" alt="Twitter" /></a>
                    </div>
                </div>
                <div class="account-box">
                    <button class="small-button">Sign in</button>
                    <button class="small-button-inversed">Sign up</button>
                </div>
                <div class="language-box">
                    <form style="margin: auto" action="">
                      <select id="language">
                        <option value="EN">EN</option>
                        <option value="UA">UA</option>
                        <option value="FR">FR</option>
                      </select>
                   </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="sidebar">
            <div class = "real-sidebar">
            <div class = "nav-siderbar">
               <ul class="menu-caption" id= "category-sidebar">
                   <li>Home</li>
                   <li>NBA</li>
                   <li>NFL</li>
                   <li>MLB</li>
                   <li>NHL</li>
                   <li>CBB</li>
                   <li>CFB</li>
                   <li>NASCAR</li>
                   <li>GOLF</li>
                   <li>SOCCER</li>
                   <li>TEAM HUB</li>
                   <li>LIFESTYLE</li>
                   <li>DEALBOOK</li>
                   <li>VIDEO</li>
               </ul>
        </div>

        <div class="sidebar-socials">
            <p class="caption">Follow:</p>
            <div>
                <a href="@Url.ActionLink("#")"><img src="~/icons/facebook-logo.png" class="header-icons" alt="Facebook" /></a>
                <a href="@Url.ActionLink("#")"><img src="~/icons/google-logo.png" class="header-icons" alt="Google+" /></a>
            </div>
            <div>
                <a href="@Url.ActionLink("#")"><img src="~/icons/twitter-logo.png" class="header-icons" alt="Twitter" /></a>
                <a href="@Url.ActionLink("#")"><img src="~/icons/youtube-logo.png" class="header-icons" alt="Youtube" /></a>
           </div>
        </div>
    </div>
            <div class = "nav-siderbar">
               <div class = "subcategory-side" id ="subcategory-side">
               <ul class="menu-new" id = "subcategory-sidebar">
               </ul>
               </div>
               <div class = "team-side" id = "team-side">
               <ul class="menu-new" id = "team-sidebar">
               </ul>
               </div>
                   <div id = "blureid">

                    </div>
        </div>
    </div>

        <main role="main">
            @RenderSection("SaveButton",  required: false)
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="navbar-logo">
             <a class="logo-caption" asp-page="/Index">SportHub</a>
        </div>
        <div class="copyright-box">
            <p class="regular-text">Copyright ©2022 SportHub</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/DataClass.js" asp-append-version="true"></script>
    <script type="text/javascript">     
        let timer1;
        let timer2;
        let DateGetClass = new ExtendDateClass();
        $("#team-side, #subcategory-sidebar").mouseleave(function() {
            timer1 = setTimeout(HideTeam, 10);
            }).mouseenter(function() {
            clearTimeout(timer1);
            });
        $("#category-sidebar, #subcategory-side, #team-side").mouseleave(function() {
            timer2 = setTimeout(HideSubcategory, 10);
            }).mouseenter(function() {
            clearTimeout(timer2);
            });
        function HideTeam(){
            console.log('Team left');
            $("#team-side").css({
                display:"none"
            });
        }
        function HideSubcategory(){
            console.log('Subcategory left');
            $("#subcategory-side").css({
                display:"none"
            });
            $("#blureid").css({
                display:"none"
            });
        }
        function CreateCatgorySidebar(){
            let List = $("#category-sidebar")
            List.empty();
            List.css({
                display:"block"
            })
            let date = DateGetClass.getCategory();
            console.log(date);
            for (let e in date) {
               let element = date[e];
               var li = $(`<li/>`)
                    .text(element.name)
                    .mouseenter(function(){
                        CreateSubcatgorySidebar(element);
                    })
                    .appendTo(List);
        }
        }
        function CreateSubcatgorySidebar(e){
            let List = $("#subcategory-sidebar");
            List.empty();
            $("#subcategory-side").css({
                display:"block"
            });
            $("#blureid").css({
                display:"block"
            });
            let date = DateGetClass.getSubcategoryofCategory(e);
            for (let e in date) {
               let element = date[e];
               var li = $(`<li/>`)
                    .text(element.name)
                    .addClass('item-sidebar')
                    .mouseenter(function(){
                        CreateTeamSidebar(element);
                    })
                    .appendTo(List);
        }
        }
        function CreateTeamSidebar(e){
            let List = $("#team-sidebar");
            List.empty();
            $("#team-side").css({
                display:"block"
            })
            $("#blureid").css({
                display:"block"
            });
            let date = DateGetClass.getTeamofSubcategory(e);
            for (let e in date) {
               let element = date[e];
               var li = $(`<li/>`)
                    .text(element.name)
                    .addClass('item-sidebar')
                    .appendTo(List);
            }
        }
        CreateCatgorySidebar();
        
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>