<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportHub</title>
    <link rel="stylesheet" href="" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SportHub.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_UserSideLayout.css" asp-append-version="true" />
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-logo">
                    <div style="margin-top: 26px">
                        <a class="logo-caption" asp-page="/Index">SportHub</a>
                    </div>
                </div>
                <div class="search-box">
                    <div class="search-button-and-field-input">
                        <button id="search-button" onclick="moveToSearchPage()" ><img src="~/icons/search-icon.png" class="header-icons" alt="Search!" /></button>
                        <input type="text" id="header-search-field" class="lable" placeholder="Search..." oninput="searchFieldWithTimeLimit()" autocomplete="off" />
                    </div>
                    
                    <div class="search-result-articles" onscroll="searchScroll()" id="search-field-tag">
                        
                    </div>

                    <div class="search-result-articles-copy">
                        <div class="search-article-info">
                            <a id="article-href">
                                <div class="search-article-top-info">
                                    <div class="search-article-category-name">

                                    </div>
                                    <img id="image-in-search-between-category-subcategory" class="image-arrow-in-search" src=~/images/combined-shape-grey.svg/>
                                    <div class="search-article-subcategory-name">

                                    </div>
                                    <img id="image-in-search-between-subcategory-team" class="image-arrow-in-search" src=~/images/combined-shape.svg/>
                                    <div class="search-article-team-name">

                                    </div>
                                </div>
                                <div class="search-article-bottom-content">
            
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="social-media-box">
                    <div class="icon-keeper">
                        <a class="caption" href="@Url.ActionLink("#")">Share...</a>
                        <a href="@Url.ActionLink("#")"><img src="~/icons/facebook-logo.png" class="header-icons" alt="Facebook" /></a>
                        <a href="@Url.ActionLink("#")"><img src="~/icons/google-logo.png" class="header-icons" alt="Google+" /></a>
                        <a href="@Url.ActionLink("#")"><img src="~/icons/twitter-logo.png" class="header-icons" alt="Twitter" /></a>
                    </div>
                </div>
                <div class="account-box">
                    <div class="buttons" id="buttons">
                        <button class="small-button" onclick="window.location='/Login';">Sign in</button>
                        <button class="small-button-inversed" onclick="window.location='/SignUp';">Sign up</button>
                    </div>
                    <div class="profile" id="profile"> 
                       <div class="dropdown" id="dropdown">
                          <img src="https://www.tutorialrepublic.com/examples/images/avatar/2.jpg" class="avatar" alt="Avatar">
                          <button class="dropbtn" id="fullName"></button>
                          <div class="dropdown-content" id="cont">
                              <div class=userInfo>
                                  <span id="username" class="infoName"></span> <br /><span id="email" class="infoMail" ></span>
                              </div>
                          <a href="#">View profile </a>
                          <a href="#">Change password</a>
                          <a href="#">My surveys</a>
                          <a href="#">Team hub</a>
                          <hr class="solid">
                          <a href="#" class="logoutUser" onclick="logoutUser();">Log out </a>
                          </div>
                          <img class="polygon" id="pol" src="@Url.Content("~/images/Polygon.png")" />
                        </div>
                    </div>
                </div>
                <div class="language-picker">
                    <form style="margin: auto" action="">
                      <select id="language-select">
                        <option id="language-select" value="EN">EN</option>
                        <option id="language-select" value="UA">UA</option>
                        <option id="language-select" value="FR">FR</option>
                      </select>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="sidebar">
            <div class = "real-sidebar">
            <div class = "nav-siderbar">
               <ul class="menu-caption" id= "category-sidebar">
               </ul>
        </div>

        <div class="sidebar-socials">
            <p class="caption">Follow:</p>
            <div>
                <a href="@Url.ActionLink("#")"><img src="~/icons/facebook-logo.png" class="header-icons" alt="Facebook" /></a>
                <a href="@Url.ActionLink("#")"><img src="~/icons/google-logo.png" class="header-icons" alt="Google+" /></a>
            </div>
            <div>
                <a href="@Url.ActionLink("#")"><img src="~/icons/twitter-logo.png" class="header-icons" alt="Twitter" /></a>
                <a href="@Url.ActionLink("#")"><img src="~/icons/youtube-logo.png" class="header-icons" alt="Youtube" /></a>
           </div>
        </div>
    </div>
            <div class = "nav-siderbar">
               <div class = "subcategory-side" id ="subcategory-side">
               <ul class="menu-new" id = "subcategory-sidebar">
               </ul>
               </div>
               <div class = "team-side" id = "team-side">
               <ul class="menu-new" id = "team-sidebar">
               </ul>
               </div>
               <div id = "blureid">

               </div>
        </div>
    </div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="navbar-logo">
            <a class="logo-caption" asp-page="/Index">SportHub</a>
        </div>
        <div class="copyright-box">
            <p class="regular-text">Copyright ©2022 SportHub</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/DataClass.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function () {
            displayLogInOut();
            displayData();
        });

    </script>
</body>
</html>