@page "{Category?}"
@model SportHub.Pages.Articles.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

@section SaveButton {
    <div class="middle-header">
        <p class="info-title" id="page-header-name"></p>
        <div class="red-button-object">
            <a class="new-article" id="new-article-route" href="/addarticle/@Model.SelectedCategory">
                + New Article
            </a>
        </div>
    </div>
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/ManageAdminArticles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/adminsManageAllArticles.js"></script>
</head>

<div class="get-admins-articles-main-body">
    
    
    <div class="get-admins-articles-form-dropdown">
        <form method="get">
            <div class="get-admins-articles-preview-and-search">
                <a href="#">
                    <div class="get-admins-articles-preview">
                        <img src="~/images/red-eye-preview.svg"/>
                        Preview
                    </div>
                </a>
                <div class="get-admins-articles-search-field">
                    <button onclick="findHideSearchField()" type="button">
                        <img src="~/images/SearchMagnifier.svg"/>
                    </button>
                    <input asp-for="SearchField" id="search-field" class="get-admins-articles-search-field-field" style=""/>
                </div>
            </div>
            <div class="get-admins-articles-dropdown-elements">
                <select asp-for="SelectedSubcategory" asp-items="Model.SelectSubcategory" onchange="this.form.submit()" class="get-admins-articles-subcategory-select">
                    <option value="">All Subcategories</option>
                </select>

                <select asp-for="SelectedTeam" asp-items="Model.SelectTeam" onchange="this.form.submit()" class="get-admins-articles-team-select">
                    <option value="">All Teams</option>
                </select>

                <select asp-for="PublishField" onchange="this.form.submit()" id="publish-dropdown-list" class="get-admins-articles-publish-unpublish-select">
                    <option value="">All</option>
                    <option>Published</option>
                    <option>Unpublished</option>
                </select>
            </div>
            
        </form>
    </div>

    <div class="get-admins-articles-container-body">
        <div class="get-admins-articles-scroll-position">
        @{
        for (int index = 0; index<Model.Article.Count; index++) {
                <div class="get-admins-articles-elements" id="article-with-id-@Model.Article[index].Id">
                    <div class="get-admins-articles-image-container">
                    <a asp-page="./Details" asp-route-id="@Model.Article[index].Id" class="get-admins-articles-image-container-a">
                        <img class="get-admins-articles-image" src="@Model.Article[index].ImageItem.ImageLink" alt="Italian Trulli">
                    </a>
                    </div>
                    <div class="get-admins-articles-right-content">
                        <div class="get-admins-articles-right-text">
                            <div class="get-admins-articles-title">
                                @Model.Article[index].Title
                            </div>
                            <div class="get-admins-articles-content-text">
                                @Model.Article[index].ContentText
                            </div>
                            <div class="get-admins-articles-right-content-bottom-info">
                                <div class="get-admins-articles-subcategory-team">
                                    @(Model.SubCategoriesDisplayed[index]+" / "+Model.TeamsDisplayed[index])
                                </div>
                                <div id="articlePublishFooter-@Model.Article[index].Id" class="get-admins-articles-published-info-outside">

                                    <div id="publishedForUnpublished-@Model.Article[index].Id" class="get-admins-articles-published-info" style=@(Model.Article[index].IsPublished == false ? "display:none":"")>
                                        <div class="get-admins-articles-published-info-green-circle"></div>    
                                        Published
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="get-admins-articles-dropdown">
                            <div class="get-admins-articles-content-btn">
                                <button onclick="openDropdownFunction(@Model.Article[index].Id)" class="get-admins-articles-drop-btn" id="dropdown-btn-@Model.Article[index].Id">
                                    <img src="~/images/drop-down-botton.svg"/>
                                </button>
                            </div>
                            
                            <div id="@Model.Article[index].Id" class="get-admins-articles-dropdown-content">
                                <button id="isPublishedButton-@Model.Article[index].Id" onclick="publishUnpublish(@Model.Article[index].Id)" class="get-admins-articles-publish-button">
                                    @if (Model.Article[index].IsPublished == true)
                                    {
                                        <div>Unpublish</div>
                                    }
                                    else
                                    {
                                        <div>Publish</div>
                                    }
                                </button>    
                                <a id="edit-@Model.Article[index].Id" class="get-admins-articles-edit" asp-page="./Details" asp-route-id="@Model.Article[index].Id" style=@(Model.Article[index].IsPublished == true ? "display:none":"")>
                                    Edit
                                </a>
                                <div>
                                    <button onclick="openDeletePopUp(@Model.Article[index].Id)" class="get-admins-articles-delete">Delete</button>
                                </div>
                                <div class="get-admins-articles-dropdown-move">
                                    <button class="get-admins-articles-move-button" onclick="openMove(@Model.Article[index].Id)">
                                        Move
                                        <img src="~/images/Polygon-red-rotate-to-right.svg" class="get-admins-articles-move-image"/>
                                    </button>
                                    <div class="get-admins-articles-dropdown-move-content" id="article-move-@Model.Article[index].Id">
                                        @{
                                            for(int categoryId = 0; categoryId<Model.CategoriesToMove.Count; categoryId++){
                                                <button onclick="changeArticleCategory(@Model.Article[index].Id, @Model.CategoriesToMove[categoryId].Id)" class="get-admins-articles-dropdown-move-content-item" id="dropdown-move-@Model.CategoriesToMove[categoryId].Id">
                                                    @Model.CategoriesToMove[categoryId].Name
                                                </button>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            }
        }
        </div>
    </div>
</div>

<div class="overlay" id="overlay"></div>

<div class="get-admins-articles-delete-confirmation" id="delete-confirm">
    <div class="get-admins-articles-delete-content">
        <img src="~/images/delete-image.svg" class="get-admins-articles-delete-image" />
        <div class="get-admins-articles-detele-window-title">You are about to delete this subcategory!</div>
        <div class="get-admins-articles-detele-window-info">Are you sure?</div>
    </div>
    <div class="get-admins-articles-delete-bottom-section">
        <button class="get-admins-articles-delete-cancel-button" onclick="closeDeletePopUp()">Cancel</button>
        <button class="get-admins-articles-delete-delete-button" id="cancel-delete-button">Delete</button>
    </div>
</div>

<div class="get-admins-articles-publish-pop-up" id="publish-banner">
    <div class="get-admins-articles-content-publish">
        <img src="~/images/success-button.svg" class="get-admins-articles-publish-image" />
        <div class="get-admins-articles-content-text-publish">
            <div class="get-admins-articles-publish-window-title" id="message-title">Published!</div>
            <div class="get-admins-articles-publish-window-info" id="message-info">The Home page is successfully published.</div>
        </div>     
    </div>        
</div>
