@page
@model SportHub.Pages.Articles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportHub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/displayArticle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SportHub.styles.css" asp-append-version="true" />
</head>


<div class="main">   
    <div class="content">
        <div class="top-info">
            <div class="category-link">
                @Html.DisplayFor(model => model.category)
            </div>
            <div class="subcategory-link">
                 <b>>@Html.DisplayFor(model => model.subcategory)</b>
            </div>
        </div>
        <div class="image-content">
            <div class="image-article">
                <img src="@Html.DisplayFor(model => model.Article.ImageLink)" alt="Italian Trulli">
            </div>
          
            <div class="info-image">
                <div class="published">
                    <b>
                        Published / @Html.DisplayFor(model => model.Article.PostedDate)
                    </b>
                </div>
                <div class="title-info">
                    <b>
                        @Html.DisplayFor(model => model.Article.Title)
                    </b>
                </div>
                <div class="bottom-info">
                    
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias aut, 
                        repellat ipsum facere voluptate dicta obcaecati deserunt nobis suscipit eaque?
                </div> 
            </div>
            <div class="text-under-image">
                @Html.DisplayFor(model => model.Article.ContentText)
            </div>
        </div>
    </div>
    <div class="background-text">
        News
    </div>
    <div class="background-text-news">
        @Html.DisplayFor(model => model.category)
    </div>
    <div class="comments">
        <div class="count-comments">
            <b>COMMENTS (0)</b>
        </div>
        <div class="sort-by">
            Sort by: 
            <select>
                <option>Most popular</option>
                <option>Oldest first</option>
                <option>Newest first</option>
            </select>
        </div>
        <div class="your-commects">

        </div>
        <div class="body-commects">

        </div>
        <div class="bottom-comments">

        </div>
    </div>
</div>

