@page
@using Microsoft.AspNetCore.Html
@model SportHub.Pages.Articles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportHub</title>
    <link rel="stylesheet" href="~/css/displayArticle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SportHub.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CommentSectionTemp.css" asp-append-version="true" />
    
</head>


    <div class="get-article-main">   
    <div class="get-article-content">
        <div class="get-article-top-info">
            <div class="get-article-category-link">
                @Html.DisplayFor(model => model.category)
            </div>
            @if (Model.subcategory != "item reference wasn't found(no subcategory)")
            {
                <div class="get-article-subcategory-link">
                    <b>>@Html.DisplayFor(model => model.subcategory)</b>
                </div>
            }
            <div class="get-article-subcategory-link">
                 <b>/@Html.DisplayFor(model => model.Article.Title)</b>
            </div>
        </div>
        <div class="get-article-image-content">
            <div class="get-article-image-article">
                <img src="@Html.DisplayFor(model => model.Article.ImageItem.ImageLink)" alt="@Html.DisplayFor(model => model.Article.ImageItem.Alt)">
            </div>
          
            <div class="get-article-info-image">
                <div class="get-article-published">
                    <b>
                        Published / @Html.DisplayFor(model => model.Article.PostedDate)
                    </b>
                </div>
                <div class="get-article-title-info">
                    <b>
                        @Html.DisplayFor(model => model.Article.ImageItem.Alt)
                    </b>
                </div>
                <div class="get-article-bottom-info">
                    @Html.DisplayFor(model => model.Article.Caption)
                </div> 
            </div>
            <text class="get-article-text-under-image" id="main-article-text">@Html.Raw(Model.Article.ContentText)</text>
        </div>
    </div>
    <div class="get-article-background-text">
        News
    </div>
    <div class="get-article-background-text-news">
        @Html.DisplayFor(model => model.category)
    </div>
    <div class="get-article-comments">
        <div class="commentSection">
        <div class="header_comment">
           <div class="rows">
              <p class="pull-left">
                 <span class="count_comment">COMMENTS (0)</span>
              </p>
              <p class="pull-right">
                 <span class="sort_title">Sort by: </span>
                 <select id="selectSort" class="sort_by">
                    <option value="popular" >Most popular</option>
                    <option value="newest" selected>Newest</option>
                    <option value="oldest">Oldest</option>
                 </select>
              </p>
           </div>
        </div>
        <div class="commentsBox">
           <div class="col-md-12" id="fbcomment">
              <div class="body_comment">
                 <div class="rows">
                    <div class="box_comment">
                       <div class="avatar_comment">
                          <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar"/>
                          <textarea class="commentar" placeholder="Write a comment" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Write a comment'"></textarea>
                       </div>
                       <div class="box_post">
                          <div class="pull-right">
                             <button onclick="cancel_comment()" type="button" value="1">Cancel</button>
                             <button onclick="submit_comment()" type="button" value="1">Submit</button>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="rows">
                    <ul id="list_comment">
                    </ul>
                 </div>
              </div>
           </div>
        </div>
    </div>
        <div id="show_more">
            <p class="pageNumber">1</p>
            <button class="show_more" type="button">Show more</button>
        </div>
    </div>
    
</div>

    <script>
	    $("textarea").keyup(function (e) {
		    while ($(this).outerHeight() < this.scrollHeight + parseFloat($(this).css("borderTopWidth")) + parseFloat($(this).css("borderBottomWidth"))) 
		    {
			    $(this).height($(this).height() + 1);
				    };
		    });	
	    $('textarea').blur(function (e) {         
        var textLines = $(this).val().trim().split(/\r*\n/).length;      
        $(this).val($(this).val().trim()).height(textLines*17);
        });
    </script>
    <script src="~/js/comments.js" asp-append-version="true"></script>

